@model IEnumerable<AirMiles.FrontOffice.Models.Account.Balance_MovementsViewModel>

@{
    ViewData["Title"] = "Balance and Movements";
}

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h1>Balance And Movements</h1>
                        <p>Here you can see the history of all your account movements. In addition you can download in PDF format a copy of the data displayed in the current page.</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TransactionType)</th>

                                    <th>@Html.DisplayNameFor(model => model.Amount)</th>

                                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mile in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => mile.TransactionType)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => mile.Amount)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => mile.Date)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div id="export">
                            <button class="item" onclick="DownloadPDF()"><img src="~/images/Utilities/Pdf.png" /></button>
                            <span class="item">Download PDF</span>
                        </div>
                       <!--PDF here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<!-- Data Table CSS
       ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/jquery.dataTables.min.css">
<!-- Data Table JS
       ============================================ -->
<script src="~/lib/ClientTemplate/js/data-table/jquery.dataTables.min.js"></script>
<script src="~/lib/ClientTemplate/js/data-table/data-table-act.js"></script>

<style>
    #export {
        margin-top: 20px;
        display:flex;
        flex-direction:row
    }

    #export button {
        border: 0;
        background-color:transparent;
        color:none;
    }

    #export img {
        width:30px;
        height:30px;
    }

    .item {
        font-weight:bold;
        margin-left: 20px;
    }
</style>

<script type="text/javascript">
    $(document).on('ready', function () {
        $('#data-table-basic').DataTable().order([2, 'desc']).draw();
    });

    function DownloadPDF() {
        var table = $('#data-table-basic').DataTable();
        var info = table.rows({ page: 'current' }).data().toArray();
        var headers = table.columns().header().toArray().map(x => x.innerText);


       window.location.href = '/Miles/DownloadBalanceMovementsPDF?info=' + info + '&headers=' + headers; 
    }
</script>