@model IEnumerable<AirMiles.FrontOffice.Models.Account.Balance_MovementsViewModel>

@{
    ViewData["Title"] = "Balance and Movements";
}

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Basic Example</h2>
                        <p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TransactionType)</th>
                                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mile in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => mile.TransactionType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => mile.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => mile.Date)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<!-- Data Table CSS
       ============================================ -->
<link rel="stylesheet" href="~/lib/ClientTemplate/css/jquery.dataTables.min.css">
<!-- Data Table JS
       ============================================ -->
<script src="~/lib/ClientTemplate/js/data-table/jquery.dataTables.min.js"></script>
<script src="~/lib/ClientTemplate/js/data-table/data-table-act.js"></script>