@model AirMiles.FrontOffice.Models.Account.EditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_SubLayout";
}

<!-- Inbox area Start-->
<div class="inbox-area">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="view-mail-list sm-res-mg-t-30">
                <!-- Contact area Start-->
                <div class="contact-area">
                    <input type="file" id="upload" style="display:none" />
                    <input type="hidden" id="clientID" asp-for="ClientID" />
                    <div class="contact-win" style="background-image: url(@Model.BackgroundPath)">
                        <div class="contact-img" style="padding-left:20px">
                            <img id="user_photo" src="@Url.Content(Model.PhotoUrl)" style="width:150px; cursor:pointer" alt="User Image" />
                            <h2 style="color:lightseagreen">@Html.DisplayFor(model => model.FullName)</h2>
                        </div>
                        <div class="conct-sc-ic">
                        </div>
                    </div>
                    <hr />
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.ClientID): @Html.DisplayFor(model => model.ClientID)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.BirthDate): @Html.DisplayFor(model => model.BirthDate)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.RevisionMonth): @Html.DisplayFor(model => model.RevisionMonth)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.StatusMiles): @Html.DisplayFor(model => model.StatusMiles)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.BonusMiles): @Html.DisplayFor(model => model.BonusMiles)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.BoughtMiles): @Html.DisplayFor(model => model.BoughtMiles)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.ProlongedMiles): @Html.DisplayFor(model => model.ProlongedMiles)</p>
                        </div>
                        <hr />
                        <div class="contact-ad-hd">
                            <p class="ctn-ads" style="font-size:large">@Html.DisplayNameFor(model => model.TransferedMiles): @Html.DisplayFor(model => model.TransferedMiles)</p>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inbox area End-->
<script type="text/javascript">
    var uploader = document.getElementById("upload");
    document.getElementById("user_photo").addEventListener('click', function (event)
    {
        uploader.click();

        event.preventDefault;
    });
    uploader.onchange = function () {

        var formData = new FormData();
        formData.append('photo', $('#upload')[0].files[0]); // myFile is the input type="file" control

        formData.append('clientID', $("#clientID").val());

        var _url = '@Url.Action("Edit", "Account")';

        $.ajax({
            url: _url,
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (result) {
                window.location.reload();
            },
            error: function (jqXHR) {
            },
            complete: function (jqXHR, status) {
            }
        });
            };
</script>