<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - AirMiles</title>
    <meta name="description" content="@ViewData["Title"] - AirMiles">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/lib/bootstrap/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="~/lib/bootstrap/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/lib/bootstrap/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard</a>
                    </li>
                    @if (this.User.IsInRole("Employee") || this.User.IsInRole("Admin"))
                    {
                        <h3 class="menu-title">Management</h3><!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Clients</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a asp-controller="Clients" asp-action="Index">Index</a></li>
                                <li><i class="fa fa-table"></i><a asp-controller="Miles" asp-action="RequestsIndex">Miles Requests</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Flights</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a asp-controller="Flights" asp-action="Index">Index</a></li>
                                <li><i class="fa fa-table"></i><a asp-controller="Airports" asp-action="Index">Airports</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Partners" asp-action="Index">Partners</a>
                        </li>
                    }
                    @if (this.User.IsInRole("SuperEmployee") || this.User.IsInRole("Admin"))
                    {
                        <h3 class="menu-title">Approval Requests</h3><!-- /.menu-title -->
                        <li>
                            <a asp-controller="Requests" asp-action="Client">Client</a>
                        </li>
                        <li>
                            <a asp-controller="Requests" asp-action="Flight">Flight</a>
                        </li>
                        <li>
                            <a asp-controller="Requests" asp-action="Airport">Airport</a>
                        </li>
                        <li>
                            <a asp-controller="Requests" asp-action="Partner">Partner</a>
                        </li>
                        <li>
                            <a asp-controller="Requests" asp-action="Urgent">Urgent</a>
                        </li>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <h3 class="menu-title">Administration</h3><!-- /.menu-title -->
                        <li>
                            <a asp-controller="Account" asp-action="Index">Manage Employees</a>
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/lib/bootstrap/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" asp-controller="Account" asp-action="Details"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-cog"></i> Change Password</a>

                            <a class="nav-link" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>@ViewData["ViewName"]</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            @RenderBody();
        </div>
        <!-- /#right-panel -->
        <!-- Right Panel -->

        <script src="~/lib/bootstrap/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/main.js"></script>


        <script src="~/lib/bootstrap/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="~/lib/bootstrap/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="~/lib/bootstrap/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
</body>

</html>














@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AirMiles.Master</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AirMiles.Master</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2020 - AirMiles.Master</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
